<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/panel" class="navbar-brand">SpooterMech</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/panel" class="nav-item nav-link">Home</a>
            <% if(user.role == 3) { %>
            <a href="/admin" class="nav-item nav-link">Admin Panel</a>
            <% } %>
        </div>
        <div class="navbar-nav ml-auto">
            <div class="navbar-nav">
                <span class="nav-item navbar-text">Logged in as <a href="/profile?id=<%= user._id %>" style="text-decoration: none;"><%= user.username %></a> <span class="d-none d-md-inline">|</span> </span>
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>