<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('_links') %>
    <title>Index</title>
</head>
<body>
<%- include('_navbarLogged') %>

<div class="container" style="max-width: 800px;">
    <h1 class="my-5" style="text-align: center;">Admin dashboard</h1>
    <div class="d-flex flex-wrap justify-content-around mt-5">
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Manage users</h5>
                <p class="card-text">Here you can edit or remove all users.</p>
                <a href="/admin/users" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Coming soon...</h5>
                <p class="card-text">We will see ...</p>
                <a href="#" class="btn btn-primary mt-auto">Enter</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>